[Desktop Entry]
Name=Access Helper
GenericName=Access Helper
Comment=Manage available accessibility options
Comment[es]=Gestiona las opciones de accesibilidad
Comment[ca_ES@valencia]=Gestiona les opciones d'accessibilitat
Comment[ca_ES.UTF-8@valencia]=Gestiona les opciones d'accessibilitat
Comment[ca]=Gestiona les opciones d'accessibilitat
Exec=accesshelper
Terminal=false
Type=Application
Icon=accesshelper
Name[ca_ES.UTF-8@valencia]=Access Helper
Name[ca_ES@valencia]=Access Helper
Name[ca]=Access Helper
Name[es]=Access Helper
Categories=KDE;Qt;Utility;X-Lliurex;X-Utilities;
TryExec=/usr/bin/accesshelper
