[Desktop Entry]
Encoding=UTF-8
Name=Mouse Frame
Name[es]=Enmarca puntero
Name[ca]=Emmarca punter
Comment=Displays a frame around the mouse pointer
Comment[es]=Muestra un marco alrededor del puntero
Comment[ca]=Mostra un marc al voltant del punter
Icon=/usr/share/icons/hicolor/48x48/apps/accessibledock.png
Path=/usr/share/kwin/scripts/mouseframe/metadata.json
Exec=/usr/share/accesswizard/dock/tools/loadScript.sh /usr/share/kwin/scripts/mouseframe/metadata.json add
Fname=/usr/share/accesswizard/dock/default/003_mouseframe.desktop
