[Desktop Entry]
Encoding=UTF-8
Name=Read aid
Name[es]=Ayudante de lectura
Name[ca]=Ajudant de lectura
Comment=Displays a reading guide over mouse position
Comment[es]=Muestra una guía bajo el puntero
Comment[ca]=Mostra una guía sota el punter
Icon=preferences-system-windows
Path=/usr/share/kwin/scripts/mousestrip/metadata.json
Exec=/home/lliurex/git/accesshelper/src/dock/tools/loadScript.sh /usr/share/kwin/scripts/mousestrip/metadata.json add
Fname=/usr/share/accesswizard/dock/default/001_mousestrip.desktop
