[Desktop Entry]
Encoding=UTF-8
Name=Zoom
Comment=Magnify the entire desktop
Comment[es]=Ampliar todo el escritorio
Comment[ca]=Amplia tot l'escriptori
Icon=/usr/share/icons/oxygen/base/64x64/actions/zoom-fit-best.png
Path=/usr/share/kwin/builtin-effects/kwin4_effect_zoom/metadata.json
Exec=/usr/share/accesswizard/dock/tools/loadEffect.sh /usr/share/kwin/builtin-effects/kwin4_effect_zoom/metadata.json add
Fname=/usr/share/accesswizard/dock/default/002_zoom.desktop
