[Desktop Entry]
Encoding=UTF-8
Name=Invert
Comment=
Icon=/usr/share/accesswizard/dock/icons/invert.png
Path=/usr/share/kwin/builtin-effects/kwin4_effect_invert/metadata.json
Exec=/usr/share/accesswizard/dock/tools/loadEffect.sh /usr/share/kwin/builtin-effects/kwin4_effect_invert/metadata.json add
Fname=/usr/share/accesswizard/dock/default/004_invert.desktop
