Source: accesshelper
Section: admin
Priority: optional
Maintainer: Juanma1980 <juanma1980@gmail.com>
Uploaders: LliureX Team
Build-Depends: llxsrchelper,debhelper (>= 7.0),python3-all, python3-poinstaller, zero-dev
Standards-Version: 4.4.1
Homepage: https://github.com/lliurex/rebost

Package: accesshelper
Architecture: all
Depends: ${python3:Depends},python3-appconfig (>= 0.46),python3-pyside2.qtmultimedia,python3-pyside2.qtgui,accesshelper-data (>=0.5.2),xcur2png,xpanimated-yb-cursor-theme,python3-app2menu,onboard,python3-opencv,python3-tesserocr,festival,lame,festvox-palpc16k,festvox-sflpc16k,festvox-ca-ona-hts, tesseract-ocr, tesseract-ocr-spa,python3-spellchecker,libx11,libxfixes
Description: Set accessibility settings
 AccessHelper it's a common place for the
 available accessibility options 
