Source: accesswizard
Section: admin
Priority: optional
Maintainer: Juanma1980 <juanma1980@gmail.com>
Uploaders: LliureX Team
Build-Depends: llxsrchelper,debhelper (>= 7.0), python3-poinstaller, zero-dev
Standards-Version: 4.4.1
Homepage: https://github.com/lliurex/rebost

Package: accesswizard
Architecture: all
Depends: python3-qtextrawidgets (>= 0.3.0),python3-pyside2.qtmultimedia,python3-pyside2.qtgui,xpanimated-yb-cursor-theme,python3-app2menu (>= 1.4),onboard,python3-opencv,python3-tesserocr,festival,lame,festvox-palpc16k,festvox-sflpc16k,festvox-ca-ona-hts, tesseract-ocr, tesseract-ocr-spa,python3-spellchecker, python3-pyside2.qtmultimediawidgets,speech-dispatcher-festival
Description: Set accessibility settings
 AccessHelper it's a common place for the
 available accessibility options 

Package: kwin-rgbfilter
Architecture: all
Depends: kwin-addons
Description: RGB Filter for kwin
 This plugin for KWin applies a rgb filter to the screen.

Package: kwin-ocrwindow
Architecture: all
Depends: accesswizard, kwin-addons
Description: Read window contents with OCR
 This plugin for KWin captures the active screen
 and reads the content after processing through tesserocr.
