# SPDX-License-Identifier: GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
# SPDX-FileCopyrightText: 2018-2020 Harald Sitter <sitter@kde.org>

[Unit]
Description=Automatically launches pulse on sddm start
After=sddm.service
StartLimitInterval=5
StartLimitBurst=3

[Service]
Type=simple
User=sddm
EnvironmentFile=-/etc/default/locale
Restart=always
RestartSec=2s
ExecStart=/usr/share/accesswizard/tools/pulse-sddm.sh

[Install]
WantedBy=sddm.service
