[Desktop Entry]
Name=Access Wizard
Name[ca_ES.UTF-8@valencia]=Assistent d'accesibilitat
Name[ca_ES@valencia]=Assistent d'accesibilitat
Name[ca]=Assistent d'accesibilitat
Name[es]=Asistente de accesibilidad
GenericName=Access Wizard
Comment=Manage available accessibility options
Comment[es]=Gestiona las opciones de accesibilidad
Comment[ca_ES@valencia]=Gestiona les opciones d'accessibilitat
Comment[ca_ES.UTF-8@valencia]=Gestiona les opciones d'accessibilitat
Comment[ca]=Gestiona les opciones d'accessibilitat
Exec=/usr/share/accesswizard/accesswizard.py
Terminal=false
Type=Application
Icon=accessibledock
Categories=Accessibility;X-Lliurex;
TryExec=/usr/share/accesswizard/accesswizard.py
